body{
      background-image: url("/lY7gDxp.gif");
       background-repeat: no-repeat;
       background-size: cover;
       /* height: 100vh; */
       background-position: center; 
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
}
.main{
    /* background-color: aqua; */
    box-shadow: rgba(252, 251, 251, 0.938) 0px 3px 8px;
    flex-direction: column;
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    background-color: rgba(240, 234, 234, 0.384);
    border: 1px solid white;
    /* margin-top: 200px; */
    /* margin-top: auto; */
}
.first-div{
    width: 100%;
    background-color: aliceblue;
   
}
.icons{
 display: flex;
    justify-content: space-between;
   
}
.icons i{
    margin: 6px;
}
.content{
 width: 80%;
 height: 300px;
 background-color: rgb(252, 249, 250);
margin: auto;
padding: 10px;
}
/* ======================== */
.color-box {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  cursor: pointer;
}

.color-picker {
  width: 200px;
}
/* =================sec-box */
#sec-box{
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
    width: 15%;
}
#sec-nav{
    padding-top: 0px !important;
    margin-top: 0px !important;
}
#fth-box{
 display: flex;
    justify-content: space-around;
    /* background-color: blue; */
    width: 15%;
}
/* input{
    border: none;
    width: 100%;
    height: 100%;
} */
 .rich-text {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;        /* user resize na kare */
  outline: none;       /* focus border remove */
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
}
#text:focus {
    outline: none;
}
.quote {
    border-left: 3px solid #ccc;
    padding-left: 10px;
    margin-left: 20px;
    color: #555;
    font-style: italic;
}

.dropdown-menu {
    border-radius: 10px;
}
.emoji-list span {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}
